body {
  margin: 0;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
  height: 40px;
  border: none;
}

label {
  width: 200px;
  display: block;
}

nav {
  box-shadow: 0px 1px 5px black;
  margin-bottom: 6vh;
}

.sign-up-link {
  margin-top: 10px;
}

.profile-img {
  border-radius: 35px;
  width: 50px;
  height: 50px;
}

.logo-img {
  width: 8vw;
}

.landing-section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-img {
  width: 50vw;
  margin: 10px;
  border-radius: 25px;
}

.recently-listed-section {
  display: flex;
  align-items: center;
  overflow: scroll;
  margin-bottom: 6vh;
}

.all-products-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 50vh;
}

.section-title {
  margin: 25px 0px;
}

.navbar-toggler {
  height: 60px;
}

.profile-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-bottom {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 25vw;
  height: 25vh;
  border-radius: 50px;
}

.nav-username-light {
  color: black;
}

.nav-username-dark {
  color: white;
}

.card {
  margin-right: 2vw;
}
