/* GENERAL STYLES */

body {
  margin: 0;
}

a {
  list-style: none;
  color: black;
}

label {
  width: 200px;
  display: block;
}

/* NAV */

nav {
  box-shadow: 0px 1px 5px black;
  margin-bottom: 6vh;
}

.sign-up-link {
  margin-top: 10px;
}

.profile-img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.logo-img {
  width: 5vw;
}

.navbar-toggler {
  height: 60px;
  width: 60px;
  padding: 0px;
  border-color: transparent;
}

.nav-username-light {
  color: black;
  margin-right: 1vw;
}

.nav-username-dark {
  color: white;
  margin-right: 1vw;
}

.theme-btn {
  margin-right: 5vw;
}

.offcanvas-header-light {
  color: #212529;
  background-color: #f8f9fa;
}

.offcanvas-header-dark {
  background-color: #212529;
  color: #f8f9fa;
}

.offcanvas-body-light {
  color: #212529;
  background-color: #f8f9fa;
}
.offcanvas-body-dark {
  background-color: #212529;
  color: #f8f9fa;
}

.nav-link-light {
  color: #212529;
}

.nav-link-dark {
  color: #f8f9fa;
}

/* HOME PAGE */

.landing-section {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-img {
  max-width: 35vw;
  margin: 10px;
  border-radius: 25px;
}

.App-light {
  background-color: #f8f9fa;
  color: #212529;
}

.App-dark {
  background-color: #212529;
  color: #f8f9fa;
}

.recently-listed-section {
  display: flex;
  overflow-x: scroll;
}

.recently-listed-cards {
  margin: 0 20px;
}

.all-products-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* PROFILE PAGE */

.profile-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-section-profile-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 23px;
}

.cart-section-profile {
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  justify-content: space-around;
}

.profile-pic {
  max-width: 40vw;
  max-height: 40vh;
  border-radius: 30px;
}

.card-dark {
  width: 17rem;
  margin-bottom: 3vh;
  word-wrap: normal;
  background-color: #212529;
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.card-light {
  width: 17rem;
  margin-bottom: 3vh;
  word-wrap: normal;
  color: #212529;
  background-color: #f8f9fa;
}

/* EDIT PRODUCT PAGE */

.edit-product-column {
  margin-bottom: 50px;
  height: 67vh;
}

.danger-zone-light  {
  color: #212529;
  background-color: #f8f9fa;
}

.danger-zone-dark {
  background-color: #212529;
  color: #f8f9fa;
}

/* PRODUCT DETAILS PAGE */

.product-details-img {
  max-width: 40vw;
  max-height: 40vh;
  border-radius: 25px;
  margin-bottom: 20px;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-btn {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

/* OTHER */

.space-container {
  height: 20vh;
}

.edit-profile-container,
.product-details-container,
.create-product-container,
.login-form,
.signup-form,
.success-page,
.cancel-page {
  height: 90vh;
}
